/*
========================================================================== 
    App Font families
========================================================================== 
*/

$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '/public/assets/fonts/icomoon' !default;

$font-path: '/public/assets/fonts' !default;
