/*
========================================================================== 
    Sections
========================================================================== 
*/

$section-padding: (
    xs: 2rem,
    md: 4rem
);

@for $i from 0 through 10 {
    .section-padding-top--#{$i * 10} {
        padding-top: calc(#{map-get($section-padding, xs)} * #{$i * 0.1});
    }

    .section-padding-bottom--#{$i * 10} {
        padding-bottom: calc(#{map-get($section-padding, xs)} * #{$i * 0.1});
    }
}

@include media-breakpoint-up(md) {
    @for $i from 0 through 10 {
        .section-padding-top--#{$i * 10} {
            padding-top: calc(#{map-get($section-padding, md)} * #{$i * 0.1});
        }

        .section-padding-bottom--#{$i * 10} {
            padding-bottom: calc(
                #{map-get($section-padding, md)} * #{$i * 0.1}
            );
        }
    }
}
