/*
========================================================================== 
    Site navigation
========================================================================== 
*/

.apply\:main-nav {
    @apply -translate-y-full transform transition-transform absolute bg-yellow-300 left-0 pt-20 top-0 w-full z-10 h-full md:h-auto md:relative md:w-auto md:pt-0 md:transform-none md:bg-transparent;

    .menu-open &{
        @apply -translate-y-0
    }
}


.apply\:dropdown-menu {
    @apply flex-col hidden h-full md:h-auto  md:absolute md:p-2 md:right-0 md:shadow md:top-full md:w-44;
}

@screen md {
    .dropdown:hover {
        .dropdown-menu {
            @apply flex;
        }
    }
}

.dropdown-toggle.open + .dropdown-menu {
    @apply flex;
}

// Todo: Refractor
.navigation-toggle {
    position: relative;
    height: 40px;
    width: 40px;
    pointer-events: all;

    span {
        background-color: black;
        display: block;
        height: 3px;
        border-radius: 1.5px;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 19px;
        transition: transform $default-transition, opacity $default-transition;
        width: 100%;

        &:nth-child(1) {
            transform: translateY(-9px) rotate(0deg);
        }
        &:nth-child(2) {
            transform: translateY(0px) rotate(0deg);
            opacity: 1;
        }
        &:nth-child(3) {
            transform: translateY(9px) rotate(0deg);
        }
    }

    .menu-open & {
        span {
            &:nth-child(1) {
                transform: translateY(0px) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateY(0px) rotate(0deg);
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }
}
