/*
========================================================================== 
    App Color settings
    Use 'http://chir.ag/projects/name-that-color' for variable naming.
========================================================================== 
*/

/* Brand colors */
$color-black: #2c2c2c;
$color-blue: #1f4e79;
$color-blue-light: #66b7e1;
$color-red: #ff0033;
$color-white-smoke: #f5f5f5;