/*
========================================================================== 
    Site navigation
========================================================================== 
*/

html,
body {
    scroll-padding-top: 65px;
}

header {
    background-color: $white-smoke;
    will-change: transform;
    transition: transform 200ms linear;
    position: fixed;
    z-index: 1;
    width: 100%;

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
    }
}

.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #fff;
    padding: 10px 15px;
    position: relative;
    z-index: 100;

    @include media-breakpoint-up(lg) {
        display: inline-flex;
        background-color: transparent;
    }
}


@import "./navigation/menu";
@import "./navigation/logo";
@import "./navigation/hamburger";
